.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 70px 0 0 75px;
}

.text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.secondText {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}

.buttonText {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}

.filterContainer {
    margin-top: 43px;
}

.filterList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonFilter {
    padding: 6px 22px;


    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: #FFFFFF;
}

.buttonFilter:hover,
.buttonFilter:focus {
    background-color: black;
    color: white;
    outline: none;
}


.buttonItem {
    margin-right: 8px;
}

.buttonItem:last-child {
    margin-right: 0;
}