.card {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
}



.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

    color: #1D1F22;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    color: #1D1F22;
}