.card {
    width: 354px;
    padding: 16px;
    margin-left: 20px;

    background: #FFFFFF;
}

.card:focus,
.card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.img {
    width: 354px;
}